.dibba{
    background-color: black;
    display:flex;
    height:200px;
   padding-left:40px;
   padding-right:40px;

  
}
.innerdibba{
    border:1px solid rgb(194 156 108);
    display:flex;
    height:200px;
   width:100%;
}
.icons{
    display:flex;
    flex-direction: column;
    border:1px solid rgb(194 156 108);
    color:white;
    justify-content: center;
    align-items: center;
    padding-left:120px;
    padding-right:120px;
}
